<div class="row">
    <h1>Hard & Soft Skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="100"
        [showUnits]="false"
        
        [imageSrc]="'../assets/logo-html.png'"
        [imageHeight]="70"
        [imageWidth]="70"
        [showImage]="true"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'orange'"
        [innerStrokeColor]="'black'"
        [animation]="true"
        [animationDuration]="500"
   ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="100"
        [showUnits]="false"
        
        [imageSrc]="'../assets/logo-css.jpg'"
        [imageHeight]="70"
        [imageWidth]="70"
        [showImage]="true"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'blue'"
        [innerStrokeColor]="'black'"
        [animation]="true"
        [animationDuration]="500"
   ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="100"
        [showUnits]="false"
        
        [imageSrc]="'../assets/logo-js.jpg'"
        [imageHeight]="70"
        [imageWidth]="70"
        [showImage]="true"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'yellow'"
        [innerStrokeColor]="'black'"
        [animation]="true"
        [animationDuration]="500"
   ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="100"
        [showUnits]="false"
        
        [imageSrc]="'../assets/github.png'"
        [imageHeight]="70"
        [imageWidth]="70"
        [showImage]="true"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#b266ff'"
        [innerStrokeColor]="'black'"
        [animation]="true"
        [animationDuration]="500"
   ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="100"
        [showUnits]="false"
        
        [imageSrc]="'../assets/logo-python.jpg'"
        [imageHeight]="70"
        [imageWidth]="70"
        [showImage]="true"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#0066cc'"
        [innerStrokeColor]="'black'"
        [animation]="true"
        [animationDuration]="500"
   ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="100"
        [radius]="100"
        [showUnits]="false"
        
        [imageSrc]="'../assets/trabajo-colaborativo.jpg'"
        [imageHeight]="70"
        [imageWidth]="70"
        [showImage]="true"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'green'"
        [innerStrokeColor]="'black'"
        [animation]="true"
        [animationDuration]="500"
   ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="70"
        [radius]="100"
        [showUnits]="false"
        
        [imageSrc]="'../assets/logo-ingles.jpg'"
        [imageHeight]="70"
        [imageWidth]="70"
        [showImage]="true"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'white'"
        [innerStrokeColor]="'black'"
        [animation]="true"
        [animationDuration]="500"
   ></circle-progress>
    </div>
    
</div>
