<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo.png" id="logoAP" alt="logo de argentina programa">
        </div>
        <div class="redes">
            <div>
                <a href="https://github.com/paolavieyra"><img src="../../../assets/github.png" id="github" alt="boton para acceder a github"></a>
                <a href="https://www.linkedin.com/in/paola-vieyra-108720224/"><img src="../../../assets/linkedin.png" id="linkedin" alt="boton para acceder a mi linkedin"></a>
                <a href="https://www.facebook.com/paola.vieyra"><img src="../../../assets/logo fb.jpg" id="facebook" alt="boton para acceder a mi facebook"></a>
                <button type="button" class="btn btn-outline-light">Ingeso</button>
            </div>
            
        </div>
    </div>
</div>

